<section class="musicPlayer" id="musicPlayer">
	<div class="startStop">
		<button class="playButton" id="musicPlayer">Play</button>
	</div>
	<div class="info">
		<span><button>Repeat</button></span>
		<div class="infoLabels">
			<h2>Song Title</h2>
			<h2>Artist</h2>
		</div>
		<span><button>Volume</button></span>
	</div>
	<div class="progressBar">
		<span class="timePlayed">0:00</span>
		<div class="progressionBar"></div>
		<span class="remaingTime">0:00</span>
	</div>
	<div class="stats">
		<a class="soundCloudLog">logo</a>
		<a class="buy">BUY</a>
		<a class="listens">1,000,000</a>
		<a class="likes">5,000</a>
	</div>
</section>

{{outlet}}
